<!DOCTYPE html>
{% load static %}

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>GeNote</title>

    <!-- Common CSS -->
    <link href="{% static 'map/mapwindow.css' %}" rel="stylesheet">
  </head>

  <body>
    <header class="header-menu">
      <h1>
        <a href="{% url 'map:window'%}">GeNote</a>
      </h1>
      <nav>
        <ul>
          <li>ようこそ　{{ user }}さん</li>
          <li><a class="logoutButton" href="{% url 'map:logout'%}">ログアウト</a></li>
        </ul>
      </nav>
    </header>

    {% block contents %}
    {% endblock contents %}

    <footer>
      <p>&copy; 2021 Tsubasa Matsuoka.</p>
    </footer>

  </body>
</html>
