{% extends 'map/base.html' %}
{% load static %}

{% block contents %}
<div class="contents">
  <div class="inputFormContainer">
  <form class="inputForm" action="" method="POST">{% csrf_token %}
    {% for field in form %}
    <div class="inputs">
      <label class="label">{{ field.label }}</label>
      <div class="confirmValue">{{ field.value|default_if_none:"nothing" }}</div>
    </div>
    {% endfor %}
    <div class="btn-area">
      <button class="backButton" type="submit" name="next" value="back_input">入力画面へ戻る</button>
      <button class="confirmButton" type="submit" name="next" value="create">日記を作成</button>
    </div>
    {% for field in form %}
    {{ field.as_hidden }}
    {% endfor %}
    <input type="hidden" name="lat" value="{{ lat }}">
    <input type="hidden" name="lng" value="{{ lng }}">
    <input type="hidden" name="address" value="{{ address }}">
  </form>
  </div>
</div>
{% endblock contents %}
