{% extends 'map/base.html' %}
{% load static %}

{% block contents %}
<div class="contents">
  <div class="inputFormContainer">
  <form class="inputForm" action="" method="POST">{% csrf_token %}
    {% for field in form %}
    <div class="inputs">
      <label class="label">{{ field.label }}</label>
      {{ field }}
    </div>
    {% endfor %}
    <div class="btn-area">
      <a class="backButton" onclick="location.href='/map/window/';">戻る</a>
      <button class="confirmButton" type="submit" name="next" value="confirm">確認画面へ</button>
    </div>
    <input type="hidden" name="lat" value="{{ lat }}">
    <input type="hidden" name="lng" value="{{ lng }}">
    <input type="hidden" name="address" value="{{ address }}">
  </form>
  </div>
</div>
{% endblock contents %}
