<!DOCTYPE html>

{% load static %}

<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>GeNote</title>

  <!-- Bootstrap Core CSS -->
  <link href="{% static 'map/bootstrap/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="{% static 'map/bootstrap/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="{% static 'map/bootstrap/vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{% static 'map/bootstrap/css/stylish-portfolio.min.css' %}" rel="stylesheet">
</head>

<body>
  <!-- Map -->
  <section class="content-section" id="map">
    <div class="container">
      <div class="content-section-heading text-center">
      </div>
      <section id="contact" class="map">
        <div id="map"></div>
        <script type="text/javascript">{% include 'map/gmap.js' %}</script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAm1yjs5Y2hg_6oOWXCQ-Ob1kXc4NThVyY&callback=initMap"></script>
      </section>
    </div>
  </section>
</body>
</html>
